{:remove-surrounding-whitespace?  true
 :remove-trailing-whitespace?     true
 :remove-consecutive-blank-lines? true
 :insert-missing-whitespace?      true

 :extra-indents
 {cl/run* [[:block 1]]
  cl/fresh [[:block 1]]}}
